{{ define "content" }}
<div class="flex items-center justify-center min-h-[80vh] bg-zinc-800 text-zinc-300">
  <div class="max-w-4xl p-6">
    <h1 class="text-3xl font-bold text-center mb-6">User Balances</h1>
    <div class="overflow-x-auto">
      <table class="border-collapse border border-zinc-700 rounded-lg">
        <thead>
          <tr class="bg-zinc-950 text-left text-gray-300">
            <th class="p-4 border-b border-zinc-700">Username</th>
            <th class="p-4 border-b border-zinc-700 text-right">Balance</th>
            <th class="p-4 border-b border-zinc-700 text-right">Fake Balance</th>
            <th class="p-4 border-b border-zinc-700 text-right">Item Count</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Users }}
          <tr
            x-data="{ url: '/user/{{ .Username }}' }"
            @click="window.location = url"
            class="bg-zinc-900 hover:bg-zinc-700 transition-colors"
          >
              <td class="p-4 border-b border-zinc-700 text-white">{{ .Username }}</td>
              <td class="p-4 border-b border-zinc-700 text-right
                {{ if gt .Balance 0.0 }} text-green-500
                {{ else if lt .Balance 0.0 }} text-red-500
                {{ end }}">
                  {{ .Balance }}
              </td>
              <td class="p-4 border-b border-zinc-700 text-right
                {{ if gt .FakeBalance 0.0 }} text-green-500
                {{ else if lt .FakeBalance 0.0 }} text-red-500
                {{ end }}">
                  {{ .FakeBalance }}
                </td>
              <td class="p-4 border-b border-zinc-700 text-right
                {{ if gt .ItemCount 0 }} text-green-500
                {{ else if lt .ItemCount 0 }} text-red-500
                {{ end }}">
                  {{ .ItemCount }}
                </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{ end }}
